<a href="https://colab.research.google.com/github/Deepsphere-AI/DataAnalyticsTrainingBatch4/blob/main/Python/TeachingFiles/DSAI_LVA_UNIT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Unit #1
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# Python program to illustrate memoryview() and bytearray
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_my_byte_array = bytearray('JOTHI', 'utf-7') # UTF-7 (7-bit Unicode Transformation Format)
## ASCII: Represents the American Standard Code for Information Interchange (ASCII)
print(vAR_my_byte_array)

# Create memoryview object
vAR_mv = memoryview(vAR_my_byte_array)

print(type(vAR_mv))   # displays the type of variable mv
print(vAR_mv)  # displays memory location of the created memoryview object

# access memory view's index
print(vAR_mv[0]) # ASCII value
print(vAR_mv[2]) # ASCII value

# create byte from memory view
print(bytes(vAR_mv[0:2]))

# create list from memory view
print(list(vAR_mv[0:2])) # ASCII value

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# None
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_x = None
print(vAR_x)
print(type(vAR_x))
vAR_x = 11
print(vAR_x)
print(type(vAR_x))

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# Boolean Data Type
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = True
print(type(vAR_a))
vAR_b = False
print(type(vAR_b))

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# Boolean Data Type
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = True
vAR_b = False
vAR_c = bool(0)
vAR_d = bool(1)
print(vAR_a, vAR_b, vAR_c, vAR_d)
vAR_c = bool(2)
vAR_d = bool(-1)
print(vAR_c, vAR_d) # What is the output

True False False True
True True

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# Range
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = range(3, 20, 2)
for vAR_i in vAR_a:
  print(vAR_i)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Python Data Type
# String
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_str = "JOTHI"
print("The entire string  >> " + vAR_str)  # The entire string
print("First position of the string  >> " + vAR_str[0]) # First position of the string
print("2 character from the beginning   >> " + vAR_str[:2]) # 2 character from the beginning
print("From the 1st postion to end of the string  >> " + vAR_str[1:]) # From the 1st postion to end of the string
print("From 0th postion to 4 character   >> " + vAR_str[0:4]) # From 0th postion to 4 character

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure -List
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# () - Tuple
# [] - List
# {} - Dictionary
# {} - Set
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  A list is a collection that is ordered and changeable. Allows duplicate members.
#  Tuple is an unchangeable collection that has been ordered. Allows duplicate members.
#  Set is a collection that is unordered, unchangeable*, and unindexed. There are no duplicate members.
#  The dictionary is a collection that is ordered** and changeable. There are no duplicate members.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

vAR_list = [ 'abcd', 786 , 2.23, 'Jothi', 70.2 ]
vAR_tinylist = [123, 'Jothi']

print (vAR_list)                # Prints complete list
print (vAR_list[0])             # Prints first element of the list
print (vAR_list[1:3])           # Prints elements starting from 2nd till 3rd
print (vAR_list[2:])            # Prints elements starting from 3rd element
print (vAR_tinylist * 2)        # Prints list two times
print (vAR_list + vAR_tinylist) # Prints concatenated lists

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure -List with Boolean
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_list = [True, False, False]
print(vAR_list)
print(type(vAR_list)) # Type of

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure -List of List
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vARList=[[1, 2, 3, 4, 5], [12, 13, 23], [10, 20, 30], [11, 22, 33], [12, 24, 36]]
print(vARList)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure -List of List
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# min()
# max()
# sort()
# reverse()
# remove()
# append()
# copy()
# clear()
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

list=[2,5,6,7]
list.append(8) ### APPEND ###
#print(list)

lis = [1, 2, 3]
lis.clear() ### CLEAR ###
#print(lis)

fruits = ["Apple", "Apple", "Banana", "Cherry" , "Papaya"]
#print(fruits.count("Apple")) ### COUNT ###

numbers = [23,25,65,21,98] ### MIN ###
#print(min(numbers))

alphabets = ['a','e','d','c','b']
random_numbers = [2,5,6,1,8,3]
alphabets.sort()  ### SORT ###
random_numbers.sort() ### SORT ###
print(alphabets)
print(random_numbers)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Tuple
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

vAR_tuple = ( 'abcd', 786 , 2.23, 'Jothi', 70.2,"apple", "banana", "cherry"  )
vAR_tinytuple = (123, 'Jothi')

print (vAR_tuple)                 # Prints the complete tuple
print (vAR_tuple[0])              # Prints first element of the tuple
print (vAR_tuple[1:3])            # Prints elements of the tuple starting from 2nd till 3rd
print (vAR_tuple[2:])             # Prints elements of the tuple starting from 3rd element
print (vAR_tinytuple * 2)         # Prints the contents of the tuple twice
print (vAR_tuple + vAR_tinytuple) # Prints concatenated tuples

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Tuple -  Trying to chage the member
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

vAR_tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
#vAR_tuple[2] = 1000    # Why this is an Invalid syntax with tuple ??

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Tuple
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_thistuple = ("apple", "banana", "cherry") # Tuple 1
vAR_y = ("orange",) # Tuple 2

vAR_thistuple += vAR_y # Adding 2 Tuple

print(vAR_thistuple)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Tuple - Unpacking a tuple:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

fruits = ("apple", "banana", "cherry") # Packing a tuple:

(green, yellow, red) = fruits # Unpacking a tuple:

print(green)
print(yellow)
print(red)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Tuple - Unpacking a tuple: Using Asterisk*
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits # Using Asterisk*
print(green)
print(yellow)
print(red) # Using Asterisk*

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Set - Unordered, Unchangeable
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

set1 = {"apple", "banana", "cherry"} # String
set2 = {1, 5, 7, 9, 3} # Int
set3 = {True, False, False} # Boolean
#print(set3[0]) # See the Error
print(type(set3))

thisset = {"apple", "banana", "cherry", "apple"} #Duplicates Not Allowed
#print(thisset)
thisset = {"apple", "banana", "cherry", True, 1, 2} # Boolean Value
#print(thisset)
thisset = {"apple", "banana", "cherry", False, True, 0} # False and 0 is considered the same value:
print(thisset)
thisset = {"apple", "banana", "cherry", True, 1, 2} #True and 1 is considered the same value:
#print(thisset)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Dictionaries - Functions and Accessing Items
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thisdict = {"brand": "Ford", "model": "Mustang","year": 1964}
#print(thisdict) # print a dictionary:

#print(thisdict["brand"]) # Print the "brand" value of the dictionary:

thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964, "year": 2020 } #Duplicates Not Allowed
#print(thisdict) # Dictionaries cannot have two items with the same key:

thisdict = { "brand": "Ford",  "electric": False,  "year": 1964,  "color": ["red", "white", "blue"] }
#print(thisdict["colors"])

x = thisdict.get("model")
print (x)
x = thisdict.keys()
print (x)
x = thisdict.values()
print (x)
thisdict["color"] = "JOTHI" # Make a change in the original dictionary,
print(thisdict)
x = thisdict.items()
print (x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Dictionaries Check if Key Exists
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
if "model-1" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
  print("Not Fund")

In [ ]:
# Defining a list of dictionaries in Python
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Dictionaries Check if Key Exists
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ls_dict = [{'py': 'Python', 'mat': 'MATLAB', 'cs': 'Csharp'}, {'A': 65, 'B': 66, 'C': 67}, {'a': 97, 'b': 98, 'c': 99}]

# Printing the results
#print(ls_dict)

# Validating the type of 'ls_dict' and its element
print(type(ls_dict)) ## List
print(type(ls_dict[0])) ## Dictionaries

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Sets
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thisset = {"apple", "banana", "cherry"}
#print(thisset)

thisset = {"apple", "banana", "cherry", "apple"} # Duplicates Not Allowed ## Duplicate values will be ignored:
#print(thisset)

thisset = {"apple", "banana", "cherry"}
for x in thisset: ## Loop through the set, and print the values:
  #print(x)
  pass

thisset = {"apple", "banana", "cherry"}
print("banana2" in thisset) #Check if "banana" is present in the set:

False

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Sets Functions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
thisset = {"apple", "banana", "cherry"}
thisset.add("orange") ## ADD
#print(thisset)

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}
set1.update(set2) ## UPDATE
print(set1)

{'cherry', 'banana', 'papaya', 'mango', 'pineapple', 'apple'}

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Data Structure - Add List to a Set
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

thisset = {"apple", "banana", "cherry"} ## SET
mylist = ["kiwi", "orange"] ## LIST
thisset.update(mylist) ## ADD LIST TO a SET
print(thisset)

{'apple', 'cherry', 'banana', 'kiwi', 'orange'}

In [ ]:
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Convert the list to a set and get the union of both sets.
## Add List to a Set
## Delete an existing key: value pair
## Add a new key: value pair
## Update an existing key: value
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Conditions and If statements and Indentation
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Equals: a == b
## Not Equals: a != b
## Less than: a < b
## Less than or equal to: a <= b
## Greater than: a > b
## Greater than or equal to: a >= b
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Example 1
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 33
vAR_b = 200
if vAR_b > vAR_a:
  print("vAR_b is greater than vAR_a")
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Example 2
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 33
vAR_b = 200
if vAR_b > vAR_a:
  print("vAR_b is greater than vAR_a") # you will get an error # **********************************

vAR_b is greater than vAR_a
vAR_b is greater than vAR_a

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Conditions and If statements and Indentation
# ELIF
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

vAR_a = 33
vAR_b = 33
if vAR_b > vAR_a:
  print("vAR_b is greater than vAR_a")
elif vAR_a == vAR_b:
  print("vAR_a and b are equal")

vAR_a and b are equal

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Conditions and If statements and Indentation
# ELSE
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 200
vAR_b = 33
if vAR_b > vAR_a:
  print("vAR_b is greater than vAR_a")
elif vAR_a == vAR_b:
  print("vAR_a and vAR_b are equal")
else:
  print("vAR_a is greater than vAR_b")

vAR_a is greater than vAR_b

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Conditions and If statements
## Example - Short Hand If
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 1112
vAR_b = 330
print("vAR_A") if vAR_a >vAR_b

vAR_A

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Conditions and If statements
## Example - AND, OR, NOT in IF
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 200
vAR_b = 33
vAR_c = 500
#if vAR_a > vAR_b and vAR_c > vAR_a: ## AND ~~~~~~~~~~~~~~
#  print("Both conditions are True")

vAR_a = 33
vAR_b = 200
#if vAR_a > vAR_b or vAR_a < vAR_b: ## OR  ~~~~~~~~~~~~~~
#  print("vAR_a is NOT greater than vAR_b - This is from the IF")
#else:
#  print("vAR_a is NOT greater than vAR_b - This is from the Else")

vAR_a = 333
vAR_b = 200
if not vAR_a > vAR_b: ## NOT ~~~~~~~~~~~~~~
  print("a is NOT greater than b")

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Conditions and If statements
## Example IF pass Statement
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
vAR_a = 33
vAR_b = 200

if vAR_b > vAR_a:
  pass
## if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Conditions and If statements
## Nested If
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

vAR_x = 41

if vAR_x > 10:
  print("Above ten, - This is from the FIRST IF")
  if vAR_x > 20:
    print("and also above 20!- This is from the II IF")
  else:
    print("but not above 20.")

Above ten, - This is from the FIRST IF
and also above 20!- This is from the II IF

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Loop - WHILE
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 1 WHILE LOOP <<===")
vAR_i = 1 # Loop Initiation
while vAR_i < 6: # Loop Condition
  print(vAR_i)
  vAR_i += 1 # Loop Increment # vAR_i += ==> 1 +1 =2, 2+1 = 3, 3+1 =4, 4+1 = 5, 5 + 1 =6

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - WHILE
##  While, BREAK
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 2 WHILE LOOP <<===")
vAR_i = 1 # Init Loop
while vAR_i < 6: # Loop Condition - Check
  print(vAR_i)
  if vAR_i == 3:
    break # Explicitly Breaking the Loop
  vAR_i += 1 # Loop Increment

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - WHILE
## While, continue
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 WHILE LOOP <<===")
vAR_i = 0 # Init Loop
while vAR_i < 6: # Loop Condition Check
  vAR_i += 1 # Loop Increment
  if vAR_i == 3:
    continue # Conintue the Loop
  print(vAR_i)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - FOR
## Example  - LOOP, FOR IN LIST
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 1 FOR LOOP <<===")
vAR_List_fruits = ["apple", "banana", "cherry"]
for vAR_x in vAR_List_fruits:
  print(vAR_x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - FOR
## Example  - LOOP, FOR IN STRING
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 2 FOR LOOP <<===")
for vAR_x in "JOTHI":
  print(vAR_x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - FOR
## FOR - Nested
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 FOR LOOP NESTED <<===")
vAR_adj = ["red", "big", "tasty"]
vAR_fruits = ["apple", "banana", "cherry"]

for vAR_a in vAR_adj:
  for vAR_b in vAR_fruits:
    print(vAR_a, vAR_b)

==>> Example 3 FOR LOOP NESTED <<===
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - FOR
## FOR - Range
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 4 FOR LOOP Range <<===")
for vAR_x in range(1, 31):
  print(vAR_x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Loop - FOR
## FOR - Break
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 5 FOR LOOP Break <<===")
vAR_fruits = ["apple", "banana", "cherry"]
for vAR_x in vAR_fruits:
  if vAR_x == "banana":
    break
  print(vAR_x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Functions WITHOUT ARG
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 1 FUNCTION <<===")
def vFN_my_function():
  print("Hello from a function - Task1") # Task or action the function takes
  print("Hello from a function - Task2") # Task or action the function takes

vFN_my_function() # Function Call

==>> Example 1 FUNCTION <<===
Hello from a function - Task1
Hello from a function - Task2

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##  Functions WITH ARG
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 2 FUNCTION <<===")
def vFN_my_function(vAR_fname):
  print(vAR_fname)

vFN_my_function(1000) # Call with String
vFN_my_function(100.22) # Call with String
vFN_my_function("ARG3") # Call with String

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Functions WITH ARG with Default Value
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 FUNCTION <<===")
def vFN_my_function(vAR_country = "Norway"):
  print("I am from " + vAR_country)

vFN_my_function("Sweden") # Fucntion Call with a String
vFN_my_function("India") # Fucntion Call with a String
vFN_my_function("Jothi") #***************** No Arguments, Default
vFN_my_function("Brazil") # Fucntion Call with a String

==>> Example 3 FUNCTION <<===
I am from Sweden
I am from India
I am from Jothi
I am from Brazil

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Functions WITH UNKNOWN ARG - Arbitrary Arguments, *args
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 4 FUNCTION <<===")
def vFN_my_function(*vAR_kids):
  print("The youngest child is " + vAR_kids[1]) # 2 is ARG3 [0,1,2]

vFN_my_function("ARG1-John1", "ARG2-Mike1", "ARG3-Lisa1") # Function call with three arguments
vFN_my_function("ARG1-John2", "ARG2-Mike2") # Function call with TWO arguments

==>> Example 4 FUNCTION <<===
The youngest child is ARG2-Mike1
The youngest child is ARG2-Mike2

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Example 5 - Functions WITH UNKNOWN ARG - Arbitrary Arguments, *args
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 5 FUNCTION <<===")

def vFN_my_function(**vAR_kid):
  print("THE ARG 2 IS " + vAR_kid["vAR_ARG2"])

vFN_my_function(vAR_ARG1 = "Argument 1", vAR_ARG2 = "Argument 2") ## Compare the previous CALL , we are using vAR_ARG1 =
vFN_my_function(vAR_ARG1 = "Argument 1", vAR_ARG2 = "Argument 2", vAR_ARG3 = "Argument 3") ## Compare the previous CALL , we are using vAR_ARG1 =

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Example 6 - Functions WITH Return Values
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 6 FUNCTION <<===")
def vFN_my_function(vAR_x):
  return 100 * vAR_x

x=vFN_my_function(3)

#print(vFN_my_function(3)) # Calling the fucntion with an ARGU and print the funtion return value
#print(vFN_my_function(5)) # Calling the fucntion with an ARGU and print the funtion return value
#print(vFN_my_function(9)) # Calling the fucntion with an ARGU and print the funtion return value
# When a function returns a value we should handle the return value or store in vAR.

==>> Example 6 FUNCTION <<===

300

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Example 7 - Functions WITH No Code/Pass
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 7 FUNCTION <<===")

def vFN_Sandhya():
  pass
  #pass # No Task, No Action, No Return Value

==>> Example 7 FUNCTION <<===

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Handling errors #1
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 1 Handling errors <<===")
vAR_x = 1000
del vAR_x
try:
  print(vAR_x)
except:
  print("An exception occurred")

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Handling errors #2
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 2 Handling errors <<===")
try:
    vAR_numerator = 100
    vAR_denominator = 0
    vAR_result = vAR_numerator/vAR_denominator
    print(vAR_result)
except:
    print("Error: Denominator cannot be 0.")

==>> Example 2 Handling errors <<===
Error: Denominator cannot be 0.

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Handling errors #3
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 Handling errors <<===")
try:
  vAR_even_numbers = [2,4,6,8]
  print(vAR_even_numbers[5]) # 5 is out of Index
except ZeroDivisionError: # This standred errors that may occur during run time
  print("Denominator cannot be 0.")
except IndexError:# This standred errors that may occur during run time
  print("Index Out of Bound.")

==>> Example 3 Handling errors <<===
Index Out of Bound.

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  File Processing
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

## read() : This function reads the entire file and returns a string
## readline() : This function reads lines from that file and returns as a string. It fetch the line n, if it is been called nth time.
## readlines() : This function returns a list where each element is single line of that file.
## write() : This function writes a fixed sequence of characters to a file.
## writelines() : This function writes a list of string.
## append() : This function append string to the file instead of overwriting the file

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## File Processing with open and read
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

print("==>> Example 1 File Processing <<===")
vFP_my_file = open('/content/sample_data/mnist_test.csv', 'r')
print(vFP_my_file.read())
vFP_my_file.close()

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## File Processing - Copy File
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

print("==>> Example 2 File Processing <<===")
import shutil ####
shutil.copy2('/content/sample_data/mnist_train_small.csv', '/content/sample_data/CPY1_Jothi.txt')

##another way to copy file
shutil.copyfile('/content/sample_data/mnist_train_small.csv', '/content/sample_data/CPY2_Jothi.txt')
print("File Copy Done")

==>> Example 2 File Processing <<===
File Copy Done

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## File Processing - Delte File
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 File Processing <<===")
import shutil
import os
# two ways to delete file
shutil.os.remove('/content/sample_data/CPY1_Jothi.txt')
os.remove('/content/sample_data/CPY2_Jothi.txt')
print("File Removed")

==>> Example 3 File Processing <<===
File Removed

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## File Processing - Write File
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 4 File Processing <<===")
#open the file
vFP_text_file = open('/content/sample_data/Jothi.txt','w')
#initialize an empty list
vLIST_word_list= []
#iterate 4 times
for i in range (1, 5):
    print("Data to be written to file:: ")
    vAR_line = input() #take input
    vLIST_word_list.append(vAR_line) #append to the list
vFP_text_file.writelines(vLIST_word_list) #write 4 words to the file
vFP_text_file.close() #donâ€™t forget to close the file

==>> Example 4 File Processing <<===
Data to be written to file::
AAAAA
Data to be written to file::
BBBBB
Data to be written to file::
CCCC
Data to be written to file::
DDD

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#  Classes and Objects
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

print("==>> Example 1 Class and Object <<===")
class vCL_MyClass:
  vCAR_x = 5

vOBJ_p1 = vCL_MyClass()
print(vOBJ_p1.vCAR_x)

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Class and Object -All classes have a function called __init__(), which is always executed when the class is being initiated.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 2 Class and Object <<===")

class vCL_Person:
  def __init__(self,vAR_name,vAR_age):
    self.vAR_name = vAR_name
    self.vAR_age = vAR_age

vOBJ_p1 = vCL_Person("JOTHI", 36) # Object Creation

print(vOBJ_p1.vAR_name) # Access the variables or class properities through the Object
print(vOBJ_p1.vAR_age) # Access the variables or class properities through the Object

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Class and Object - Class Function
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 Class and Object <<===")
class vCL_Person:
  def __init__(self, VAR_name, VAR_age): # This is standard fucntion comes with Python
    self.VAR_name = VAR_name
    self.VAR_age = VAR_age

  def vFN_JOTHI(self): # You can use any name ### my Own Function
    print("Hello my name is " + self.VAR_name)

vOBJ_p1 = vCL_Person("JOTHI", 36) ## Object Creation
vOBJ_p1.vFN_JOTHI() # Calling the Funtcion using the Object

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Class and Object - Pass
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 3 Pass <<===")
class Person:
  pass

In [ ]:
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Class and Object - Modify and Delete Object Properties
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
print("==>> Example 4 Pass <<===")
class vCL_Person:
  def __init__(self, VAR_name, VAR_age):
    self.VAR_name = VAR_name
    self.VAR_age = VAR_age

  def vFN_myfunc(self):
    print("Hello my name is " + self.VAR_name)

vOBJ_p1 = vCL_Person("JOTHI", 36)
vOBJ_p1.vFN_myfunc()

del vOBJ_p1.VAR_name
del vOBJ_p1

==>> Example 4 Pass <<===
Hello my name is JOTHI